$text_color_primary : white;
$text_color_secondary : #484849;
$text_color_tertiary : #6F593C;
$text_color_four : #003F5E;

$brand_primary: #0582F9;
$brand_secondary: #1C1C1C;
$brand_tertiary: #303030;